
        * {
            margin: 0;
            border: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            min-height: 100vh;
            background: whitesmoke;
            position: relative;
            font-family: 'Source Sans Pro', sans-serif;
        }
        .maincontainer {
            max-width: 960px;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }
        header {
            padding: 32px;
            background: whitesmoke;
        }
        header div {
            text-align: left;
        }
        header div a {
            color: black;
            text-decoration: none;
            font-size: 19px;
            line-height: 29px;
            margin-left: 150px;
                     
        }
        header div p {
            color: black;
            font-size: 25px;
            margin-top: 20px;

        }

        .banner {
            width: 100%;
            background: #FBDFDB;
            height: 430px;
            border-radius: 32px;
            margin-top: 30px;
            display: grid;
            grid-template-columns: 1fr 1fr;
           
        }
        .banner-text {
            align-self: center;
            padding-left: 60px;
            max-width: 440px;
        }
        .banner-text h3 {
            font-size: 35px;
        }
        .banner-text p {
            opacity: 70%;
            color: #272626;
            font: bold;
            font-size: 21px;
        }
        .banner .banner-img {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 130px;
        }
        .banner .banner-img img {
            object-fit: contain;
        }
        footer {   
            position: absolute;
            bottom: 0px;
            background-color: rgb(194, 194, 199);
            padding-top: 16px;
            width: 100%;
        }
        .text-footer {
            color: black;
            text-decoration: underline;
            text-align: center;
            font-size: 8px;
           
        }
       